*{
  font-family: Montserrat;
}
.about-image{
  width: 10%;
  height: 15%;
  border-radius: 5px;
}
/*-----------------------*/
.splash{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  background-size: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.splash.display-none{
  display: none;
  transition: all 0.5s;
}
@keyframes fadeIn{
  to{
    opacity: 1;
  }
}
.fadeIn{
  opacity: 0;
  animation: fadeIn 3s ease-in-out forwards;
  width: 20%;height: 40%;
}

.loader-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: url("sketchloader.gif") no-repeat center;
  background-color: #e7e5e5e3;
  background-size: 30%;
  display: none;
  justify-content: center;
  align-items: center;
}
.loader {
  position: fixed;
}

.multicolortext,.multicolortext:hover{
  background-image: linear-gradient(to left,white,ghostwhite,aliceblue,linen,mintcream,floralwhite);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
.sidenavs {
  font-family: "Times New Roman", "Times", "serif";
  border-radius: 10px;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 8%;
  left: 20%;
  background-color: rgba(109, 105, 105, 0.945);
  overflow: hidden;
  transition: 0.5s;
  padding-top: 10px;
}

.sidenavs a {
  
  text-decoration: none;
  font-size: 16px;
  color: #e0e0e0;
  display: inline-flexbox;
  transition: 0.3s;

}

.sidenavs a:hover{
  color: #ffffff;
}

.sidenavs .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/*----------------------------------*/
.sidenav {
  font-family: "Times New Roman", "Times", "serif";
  border-radius: 10px;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(109, 105, 105, 0.945);
  overflow: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #c7c1c1;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  color: #ffffff;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/*----------------------------------*/
.image-preview{
  background-color: rgba(82, 78, 78, 0.55);
  border-radius: 8px;
  margin: auto;
  width: 100%;
  height: 450px;
  border: 2px dashed #dddddd;
  margin-top: 10px;
  margin-bottom: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
  color: #cac5c5;
  
}
.image-preview.dragover{
  border-color: rgb(138, 138, 138);
  color: rgb(158, 157, 157);
}
.image-preview__image{
  display: none;
  width: 100%;
}
.fitimage{
  object-fit:contain;
  object-position: center center;
  background-color: rgba(255, 255, 255, 0.322);
}
input[type=file] {
  display: none;
}
.btn,input[type=submit] {
  size: 40;
  background-color: rgba(255, 255, 255, 0.74);
  border: none;
  border-radius: 8px;
  color: #030303;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
}
.btn:hover{
    background-color: white;
}
/*----------------------------------*/

@media only screen and (max-width:800px) {
    /* For tablets: */
.fitimage, .image-preview__image, .image-preview, input[type=submit],nav, h3{
      width: 80%;
      padding: 0;
    }
    .loader-wrapper{
      background-size: 60%;
      height: auto;
    }
    .sidenav,.sidenavs{
      overflow: visible;
      overflow-x: hidden;
    }
}
@media only screen and (max-width:500px) {
    /* For mobile phones: */
.fitimage, .image-preview__image, .image-preview, input[type=submit], nav, h3{
      width: 100%;
    }
    .loader-wrapper{
      background-size: 80%;
      height: auto;
    }
    .sidenav,.sidenavs{
      overflow: visible;
      overflow-x: hidden;
    }
    .about-image{
      width: 25%;
      height: 30%;
    }
  }


  h1{
    font-family: monospace;
    text-align: center;
    color: aliceblue;
    text-shadow: 1px 2px 5px rgb(3, 3, 3);
}
